# Currency Symbol
NEXT_PUBLIC_CURRENCY_SYMBOL = '$'
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dml0YWwtY2xhbS04OS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_mISMh9mcTMrlZuockZvkmVy3rmNH2jiQLM8qlTuMw6